<div
  class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 z-20"
>
  <div
    class="bg-neutral-900 border border-green-800 rounded-lg w-[35rem] overflya p-8 text-neutral-300 animate__animated animate__fadeInDown animate_fast"
  >
    <img
      src="../../assets/images/gyl-logo.png"
      alt="GuessYourLyrics Logo"
      width="180px"
      class="mx-auto mb-4"
    />
    <p class="text-green-500">
      To ensure the application functions correctly, follow this guide:
    </p>
    <ol class="font-bold list-decimal flex flex-col gap-4 mt-2 mb-5 ml-4">
      <li>
        Open up the website
        <a
          href="https://cors-anywhere.herokuapp.com"
          target="_blank"
          class="text-blue-300 font-normal hover:underline"
          >https://cors-anywhere.herokuapp.com</a
        >.
      </li>
      <li>
        Press the
        <span class="font-normal italic"
          >Request temporary access to the demo server</span
        >
        button.
      </li>
      <li>
        Wait until the message
        <span class="font-normal italic">
          You currently have temporary access to the demo server.
        </span>
        shows up.
      </li>
    </ol>
    <img
      src="../../assets/images/cors-site.png"
      alt="Cors-anywhere website"
      class="rounded"
    />
    <button
      class="bg-green-700 px-5 rounded-full h-9 hover:brightness-105 text-black mx-auto block mt-5 mb-2"
      (click)="close()"
    >
      I understand
    </button>
    <input
      type="checkbox"
      id="forget-warning"
      class="accent-green-600"
      [(ngModel)]="forgetWarning"
      (change)="forget()"
    />
    <label for="forget-warning" class="ml-2">Don't show this again</label>
  </div>
</div>
